# Laravel-specific folders
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache

# Environment and sensitive files
.env
.env.backup
.env.production
.env.*

# PHPUnit and testing
/.phpunit.cache
.phpunit.result.cache
.phpactor.json

# IDE and system files
/.idea
/.vscode
/.nova
/.fleet
/.zed
.DS_Store
Thumbs.db

# Logs and debug
npm-debug.log
yarn-error.log
*.log

# Authentication and secrets
/auth.json
Homestead.json
Homestead.yaml

